.main{
    padding-top: 50px;
    &__wrapper{

    }

    &__head{

    }

    &__title{
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.5rem;
        color: #331C20;
        margin-bottom: 50px;
    }
}