@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto';
    color: #331C20;
    background-color: #f1efed;
}

button {
    outline: none;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}


.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}